body{
    background: #BDBDBD;
}
<<<<<<< HEAD

body{
    font-family: 'Bitter', serif;
}

.first-heading{
    margin: 150px;
}

img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.jumbotron{
    display: flex;
}

#gray{
    color: gray;
}
=======
img{
    width: 500px; height: auto; float: right;
    
    position: relative;
   
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 10px; 
    border-radius: 48%

}
div.container{
    width: 600px;
    margin: auto;
    float: left;
    
    position: relative;
    
    margin-top: 40px;
    margin-bottom: 10px;
    height: 500px;
    width: 60%;
    padding-top: 5%;
}
h1{
    margin: 0;
  margin-left: 160px;
}
p{
    margin: 0;
    float: right;
    width: 80%;
}
body{
    margin: auto
}
>>>>>>> 4b82d87a5b94c47bc9770821ce2628b6ac15a914
