<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div>
	<div class="container">
    <Header>
		<div>
			<h1>This Firts Heading Will Cacht Your Eye</h1>
		</div>
        </Header>
		<div class="content">
			<p>Donec ullancorper nulla non metus auctor fringilla. Vustibulum id ligula porta elis eusmod semper.
				Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce Dapibus, tellus ac cursus
				commodo. </p>
		</div>
	</div>
	<img src="Mila.jpeg">
	</div>
</body>

</html>
